input {
    cursor: pointer;
    outline: none;
    opacity: 0.5;
    border-radius: 6px;
}

h4{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin:10px;
    text-align: center;
  }

  h1{
    /* border: 1px solid; */
    font-family: "Poppins";
    font-size: 50px;
    
    font-weight: 900; 

    margin: 10px 10px 0px 10px;
    text-align: center;

}
  
body {
    background-color: #1a1a1a;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    opacity: 0;
    animation: fadeInText 0s 1.1s both;    
}

label {
    cursor: text;
}

@keyframes fadeInText {
    from {
         opacity: 0;
        }
        to { 
        opacity: 1;
        }
}
@keyframes revealBlock {
    from {
        transform: translateX(0);
    }
  to {
        transform: translateX(100%); 
}
}
@keyframes enlargeBlock {
    from {
        width: 100%;
    }
    to{
        width: 100%;
    }
}

.class-de-tarefas {
    font-family:  "Quicksand", sans-serif;
    background-color:#525151;
    padding: 5px;
    border: none;
    border-radius: 10px;
    width: 90%;
    margin: 9px;

}


.class-de-botao {
    padding: 10px;
    border: rgb(14, 33, 39) 1px solid;
    border-radius: 5px;
    margin: 10px;
    border: none;
}

.text-block {
    position: relative;
    overflow: hidden;
    background-color: #2b2b2b;
    box-shadow: 8px 12px 6px #575757;
    border-radius: 7px;
}

.text-block:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateX(-100%);
    animation: revealBlock .5s 1.1s both, enlargeBlock .5s .6s both;
}
#novaTarefa {
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--cor-primaria);
}

#novaRotina {
    border-radius: 10px;
    background-color: var(--cor-primaria);
    cursor: pointer;
}

#teste-botao {
    background-color: var(--cor-primaria);
    cursor: pointer;
    border-radius: 8px;
    border:none;
}

#resetRotina {
    background-color: var(--cor-primaria);
    border-radius: 8px;
    cursor: pointer;
}

#novaTarefa:hover {
    background-color: var(--cor-secundaria);
}

#novaRotina:hover {
    background-color: var(--cor-secundaria);
}

#resetRotina:hover {
    background-color: var(--cor-secundaria);
}
#teste-botao:hover {
    background-color: var(--cor-secundaria);
}

#teste {
    text-decoration: none;
    cursor: text;
    outline: 0;
    border: 1px black solid;
    border-radius: 3px;
}

#botao-criar {
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--cor-primaria);
}

#botao-criar:hover { 
    background-color: var(--cor-secundaria);
}